{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>HOME</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css "
    />

    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %} "
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      {% include 'sidenav.html' %}

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div
            class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}">
              
              <img src="{% static 'assets/images/ico.png' %}" alt="logo"
            /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <!-- sidenave btn-->
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form
                  class="nav-link mt-2 mt-md-0 d-none d-lg-flex search"
                  method="post"
                  action="{% url 'search'%} "
                >
                  {% csrf_token %}
                  <input
                    type="text"
                    name="search_text"
                    class="form-control"
                    placeholder="Search products"
                  />
                  <button
                    type="submit"
                    class="nav-link btn btn-outline-dark create-new-button"
                    aria-expanded="false"
                  >
                    Search
                  </button>
                </form>
              </li>
            </ul>

            <ul class="navbar-nav navbar-nav-right">
              {% if user.is_authenticated %}

              <li class="nav-item dropdown d-none d-lg-block">
                <a
                  class="nav-link btn btn-outline-warning create-new-button fw-bold text-uppercase"
                  aria-expanded="false"
                  href="{% url 'profile' %}"
                  >{{ user.username }}</a
                >
              </li>
              <li class="nav-item nav-settings d-none d-lg-block">
                <a
                  class="nav-link btn btn-outline-danger create-new-button"
                  href="{% url 'user-logout' %} "
                >
                  <span>LOG-OUT</span>
                </a>
              </li>

              {% else %}
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="{% url 'register' %} ">
                  <span>SIGN-UP</span>
                </a>
              </li>
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="{% url 'user-login' %} ">
                  <span>LOG-IN</span>
                </a>
              </li>

              {% endif %}
            </ul>

            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block content %} {% endblock %}
            <!-- content-wrapper ends -->
          </div>
          <!-- partial:partials/_footer.html -->

          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted d-block text-center text-sm-left d-sm-inline-block"
                >__-----__
              </span>
            </div>
          </footer>
          <!-- partial -->

          <!-- main-panel ends -->
        </div>

        <!-- page-body-wrapper ends -->
      </div>

      <!-- container-scroller -->
    </div>

    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
      <!--Chart js-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  
    <!-- Plugin js for this page -->
    <!-- <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script> -->
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    
    <!-- End custom js for this page -->
    <script>
      $(document).on("click", ".btn-danger", function (event) {
        if (!confirm("Do you want to really delete this?")) {
          return false;
        }
      });
    </script>
    {% block js %}
     {% endblock %}
    
  </body>
</html>

